.task-manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.add-task {
  display: flex;
  gap: 100px;
}
.task-list {
  display: flex;

  gap: 200px;
}
.task-card {
  background-color: black;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .add-task {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .task-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 50%;
  }
}
